<h1><%= @title = 'Resend confirmation instructions' %></h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<div class="devise_forms">
<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email %>
  <%= f.button :submit %>
<% end %>
</div>

<br />

<%= render :partial => "devise/shared/links" %>