<h1> <%= @title = 'Editing ' + @admin.name %></h1>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<%= render 'form' %>

<br />

<div id="edit_user_footer">
<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>
</div>
