<h1> <%= @title = 'Editing Admin ' + @admin.name %></h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<%= render 'form' %>

<br />

<div id="footer_links">
<%= link_to 'Show Admin', @admin %> |
<%= link_to 'To Admin List', admins_path %> |
<%= link_to 'To Clicker List', users_path %>
</div>
