<h1> <%= @title = 'Listing Admins' %> </h1>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<table id="user_list">
  <tr class="top">
    <th>Name</th>
    <th>Last Log In</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= admin.name %></td>
    <td class="centered"><%= admin.last_sign_in_at %></td>
    <td class="centered"><%= link_to 'Show', admin %></td>
    <% if admin_signed_in? %>
      <td class="centered"><%= link_to 'Edit', edit_admin_path(admin) %></td>
 	  <td class="centered"><%= link_to 'Delete', admin, :confirm => 'Are you sure you want to delete '+admin.name+'?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>

<br />

<div id="new_user_button">
<%= link_to 'New Admin', new_admin_path %>
</div>
