<h1> <%= @title = 'Listing Admins' %> </h1>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<table>
  <tr>
    <th>Name</th>
    <th>Last Log In</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr>
    <td><%= admin.name %></td>
    <td><%= admin.last_sign_in_at %></td>
    <td><%= link_to 'Show', admin %></td>
    <% if admin_signed_in? %>
      <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
 	  <td><%= link_to 'Delete', admin, :confirm => 'Are you sure you want to delete '+admin.name+'?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Admin', new_admin_path, :method => :get %>
