<h1> <%= @title = 'Admin List' %> </h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<table class="user_list">
  <tr class="top">
    <th>Name</th>
    <th>Last Log In</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td class="name"><%= admin.name %></td>
    <td class="centered"><%= admin.last_sign_in_at %></td>
    <td class="centered-crud"><%= link_to image_tag('show.svg', :width => 20, :height => 20), admin %></td>
    <% if admin_signed_in? %>
      <td class="centered-crud"><%= link_to image_tag('edit.svg', :width => 20, :height => 20), edit_admin_path(admin) %></td>
 	  <td class="centered-crud"><%= link_to image_tag('remove.svg', :width => 20, :height => 20), admin, :confirm => 'Are you sure you want to delete '+admin.name+'?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>

<br />

<div class="bottom_nav">
<%= link_to image_tag('new.svg', :width => 20, :height => 20) + ' New Admin', new_admin_path %>
</div>
