<% content_for :header do %>
	<h1> <%= @title = 'Admin List' %> </h1>
<% end %>

<%= render :partial => 'search' %>

<%= form_tag destroy_selected_admins_path, :method => :post, :class => 'main-form' do %>
<%= submit_tag 'Delete Selected' %>
<p><div class="top">Admins</div>
<table class="user_list">
  <tr class="top">
	<th><%= sortable "name" %></th>
	<th><%= sortable 'created_at', 'Created At' %></th>
	<th><%= sortable 'last_sign_in_at', 'Last Sign In' %></th>
	<th><%= sortable 'last_sign_in_ip', 'Last Sign In IP' %></th>
    <th></th>
    <th></th>
    <th></th>
	<th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td class="name"><%= admin.name %></td>
    <td class="centered"><%= admin.created_at.localtime.ctime %></td>
    <td class="centered"><%= admin.last_sign_in_at.localtime.ctime %></td>
    <td class="centered"><%= admin.last_sign_in_ip %></td>
    <td class="centered-crud"><%= link_to image_tag('show.png', :class => 'action'), admin, :title => 'View admin details.' %></td>
    <% if admin_signed_in? %>
      <td class="centered-crud"><%= link_to image_tag('edit.png', :class => 'action'), edit_admin_path(admin), :title => 'Edit admin.' %></td>
 	  <td class="centered-crud"><%= link_to image_tag('remove.png', :class => 'action'), admin, :confirm => 'Are you sure you want to delete '+admin.name+'?', :method => :delete, :title => 'Delete admin.' %></td>
    <td class="checked"><%= check_box_tag 'admin_ids[]' %></td>
 	<% end %>
  </tr>
<% end %>
</table></p>
<% end %>

<div class="bottom_nav">
<%= link_to image_tag('new.png', :class => 'action') + ' New Admin', new_admin_path, :title => 'Create a new admin.' %>
</div>