<h1><%= @title = 'Viewing Admin ' + @admin.name %></h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<div id="user_details">
<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Email:</b>
  <%= mail_to @admin.email, @admin.email.split('@')[0] %>
</p>
</div>

<br />

<div id="footer_links">
<%= link_to 'Edit Admin', edit_admin_path(@admin) %> |
<%= link_to 'To Admin List', admins_path %> |
<%= link_to 'To Clicker List', users_path %>
</div>