<h1><%= @title = 'Viewing Admin ' + @admin.name %></h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<div id="user_details">
<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Email:</b>
  <%= mail_to @admin.email, @admin.email.split('@')[0] %>
</p>
</div>

<br />

<div class="bottom_nav">
<%= link_to image_tag('edit.svg', :class => 'action') + ' Edit Admin', edit_admin_path(@admin) %> |
<%= link_to image_tag('remove.svg', :class => 'action') + ' Delete Admin', @admin, :confirm => 'Are you sure you want to delete ' + @admin.name + '?', :method => :delete %> |
<%= link_to image_tag('back.svg', :class => 'action') + ' To Admin List', admins_path %> |
<%= link_to image_tag('back.svg', :class => 'action') + ' To Clicker List', users_path %>
</div>