<h1><%= @title = 'Resend unlock instructions' %></h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<div id="devise_forms">
<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

	<%= f.input :email, :placeholder => 'user@domain.com', :hint => 'Email Address'%>
	<%= f.button :submit %>
	
<% end %>
</div>

<br />

<%= render :partial => "devise/shared/links" %>