<div class="clicker_form">
<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :name, :required => false, :hint => 'DT Username' %>
    <%= f.input :url, :required => false, :hint => 'DT recruit link' %>
<% if request.fullpath.end_with?("edit") %>
	<%= f.input :clicks_given, :hint => 'Clicks this user has given to others.' %>
	<%= f.input :clicks_received, :hint => 'Clicks this user has received.' %>
<% end %>
	<%= f.input :legend %>
    <%= f.button :submit %>
<% end %>
</div>
