<% unless users.empty? %>
<div class="top"><%= title %></div>
<table class="user_list">
  <tr class="top">
<% if sortable %>
	<th><%= sortable "name" %></th>
	<th><%= sortable 'clicks_given - clicks_received', 'Credits' %></th>
	<th><%= sortable 'clicks_given' %></th>
	<th><%= sortable 'clicks_received' %></th>
<% else %>
    <th>Name</th>
	<% if click_button %>
    <th></th>
	<% end %>
	<% if creditable %>
	<th>Credits</th>
	<% end %>
    <th>Clicks Given</th>
	<% if !legend %>
    <th>Clicks Received</th>
    <% end %>
<% end %>
	<th></th>
		<% if admin_signed_in? %>
		<th></th>
		<th></th>
		<th><%= check_box_tag('user_ids[]', 'user_ids[]', false, :onClick => "invertAll(this, this.form, 'user_ids[]')")
	  %></th>		
		<% end %>
  </tr>
<% end %>

<% users.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td class="name"><%= user.name %></td>
	<% if click_button %>
    <td class="centered-click"><%= radio_button_tag 'start_user', user.id, user == users.first %></td>
	<% end %>
	<% if creditable %>
	<td class="centered"><%= user.credits %></td>
	<% end %>
    <td class="centered"><%= user.clicks_given %></td>
	<% if !legend %>
    <td class="centered"><%= user.clicks_received %></td>
	<% end %>
    <td class="centered-crud"><%= link_to image_tag('show.png', :class => 'action'), user %></td>
    <% if admin_signed_in? %>
      <td class="centered-crud"><%= link_to image_tag('edit.png', :class => 'action'), edit_user_path(user) %></td>
 	  <td class="centered-crud"><%= link_to image_tag('remove.png', :class => 'action'), user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	  <td class="check"><%= check_box_tag "user_ids[]",user.id %></td>
 	<% end %>
  </tr>
<% end %>
</table>
