<h1><%= @title = "Frozen Clicker List" %></h1>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<% unless @users.empty? %>
<div class="top">Inactive Clickers</div>
<table id="user_list">
  <tr class="top">
    <th>Name</th>
	<th>Credits</th>
    <th>Clicks Given</th>
    <th>Clicks Received</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= user.name %></td>
	<td class="centered"><%= user.credits %></td>
    <td class="centered"><%= user.clicks_given %></td>
    <td class="centered"><%= user.clicks_received %></td>
    <td class="centered"><%= link_to 'Show', user %></td>
    <% if admin_signed_in? %>
      <td class="centered"><%= link_to 'Edit', edit_user_path(user) %></td>
 	  <td class="centered"><%= link_to 'Delete', user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>
<% end %>


<br />

<div id="new_user_button">
<%= link_to 'New Clicker', new_user_path %> | 
<%= link_to 'Delete all', destroy_frozen_users_path, :confirm => 'Are you sure you want to delete all frozen users?', :method => :delete %>
</div>