<h1>Listing Users</h1>

<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
	<p class="error"><%= flash[:error] %></p>
<% end %>

<% if true %>
<%= form_tag(click_url(:id => @users.first.id) ,:method=>'post') do %>
 <%= current_user_selector %>
 <%= submit_tag 'Start Clicking' %>
<% end %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th>Clicks Given</th>
    <th>Clicks Received</th>
    <th>Credits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= button_to 'Click', click_url( :id => user.id ) %></a></td>
    <td><%= user.clicks_given %></td>
    <td><%= user.clicks_received %></td>
	<td><%= user.credits %></td>
    <td><%= link_to 'Show', user %></td>
<% if false %>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure you want to delete '+user.name+'?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New User', new_user_path, :method => :get %>
