<h1><%= @title = "Listing Users" %></h1>

<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

<%= form_tag(@users.first ? click_url(:id => @users.first.id) : {} ,:method => :post) do %>
 <%= collection_select(:user, :id, @users, :id, :name, {:prompt => "Select a User"}, :disabled => !@users.first) %>
 <%= submit_tag 'Start Clicking', :disabled => !@users.first %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>URL</th>
<% if false %>
    <th>Clicks Given</th>
    <th>Clicks Received</th>
<% end %>
    <th>Credits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
	<% if true %>
    <td><%= form_tag(click_url(:id => user.id) ,:method => :get) do %>
 		<%= submit_tag 'Click' %>
		<% end %></td>
	<% end %>
	<% if false %>
    <td><%= user.clicks_given %></td>
    <td><%= user.clicks_received %></td>
	<% end %>
	<td><%= user.credits %></td>
    <td><%= link_to 'Show', user %></td>
    <% if admin_signed_in? %>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
 	  <td><%= link_to 'Destroy', user, :confirm => 'Are you sure you want to delete '+user.name+'?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New User', new_user_path, :method => :get %>
