<h1><%= @title = "Clicker List" %></h1>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />
<%= form_tag(@users.empty? ? {} : click_url(:id => @users.first.id),:method => :post, :id => 'start_form') do %>
 <%= select("user", "id", @sorted_by_name.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select User'}, :disabled => @users.empty?) %>
 <%= submit_tag 'Start Clicking', :disabled => @users.empty? %>
<% end %>
<br />

<% unless @clickables.empty? %>
<div class="top">Clickers</div>
<table id="user_list">
  <tr class="top">
    <th>Name</th>
    <th>URL</th>
	<th>Credits</th>
    <th>Clicks Given</th>
    <th>Clicks Received</th>
    <th></th>
		<% if admin_signed_in? %>
		<th></th>
		<th></th>
		<% end %>
  </tr>
<% end %>

<% @clickables.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= user.name %></td>
	<% if true %>
    <td class="centered"><%= form_tag(click_url(:id => user.id) ,:method => :get) do %>
 		<%= submit_tag 'Click' %>
		<% end %></td>
	<% end %>
	<td class="centered"><%= user.credits %></td>
    <td class="centered"><%= user.clicks_given %></td>
    <td class="centered"><%= user.clicks_received %></td>
    <td class="centered"><%= link_to 'Show', user %></td>
    <% if admin_signed_in? %>
      <td class="centered"><%= link_to 'Edit', edit_user_path(user) %></td>
 	  <td class="centered"><%= link_to 'Delete', user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>

<br />

<% unless @legends.empty? %>
<div class="top">Legends</div>
<table id="user_list">
  <tr class="top">
    <th>Name</th>
    <th>Clicks Given</th>
    <th></th>
		<% if admin_signed_in? %>
		<th></th>
		<th></th>
		<% end %>
  </tr>

<% @legends.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= user.name %></td>
    <td class="centered"><%= user.clicks_given %></td>
    <td class="centered"><%= link_to 'Show', user %></td>
    <% if admin_signed_in? %>
      <td class="centered"><%= link_to 'Edit', edit_user_path(user) %></td>
 	  <td class="centered"><%= link_to 'Delete', user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>
<% end %>

<br />

<% unless @frozen.empty? %>
<div class="top">Inactive Clickers</div>
<table id="user_list">
  <tr class="top">
    <th>Name</th>
	<th>Credits</th>
    <th>Clicks Given</th>
    <th>Clicks Received</th>
    <th></th>
    <% if admin_signed_in? %>
    <th></th>
    <th></th>
 	<% end %>
  </tr>

<% @frozen.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td><%= user.name %></td>
	<td class="centered"><%= user.credits %></td>
    <td class="centered"><%= user.clicks_given %></td>
    <td class="centered"><%= user.clicks_received %></td>
    <td class="centered"><%= link_to 'Show', user %></td>
    <% if admin_signed_in? %>
      <td class="centered"><%= link_to 'Edit', edit_user_path(user) %></td>
 	  <td class="centered"><%= link_to 'Delete', user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>
<% end %>

<br />

<div id="new_user_button">
<%= link_to 'New Clicker', new_user_path %>
</div>