<h1><%= @title = "Clicker" %></h1>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />
<%= form_tag(@users.empty? ? {} : click_url(:id => @users.first.id),:method => :post, :id => 'start_form') do %>
 <%= select("user", "id", @sorted_by_name.collect {|p| [ p.name, p.id ] }, {:prompt => 'Select User'}, :disabled => @users.empty?) %>
 <%= submit_tag 'Start Clicking', :disabled => @users.empty? %>
<% end %>
<br />

<% unless @clickables.empty? %>
<div class="top">Clickers</div>
<table class="user_list">
  <tr class="top">
    <th>Name</th>
    <th>Start</th>
	<th>Credits</th>
    <th>Clicks Given</th>
    <th>Clicks Received</th>
    <th></th>
		<% if admin_signed_in? %>
		<th></th>
		<th></th>
		<% end %>
  </tr>
<% end %>

<% @clickables.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td class="name"><%= user.name %></td>
	<% if true %>
    <td class="centered">
	<%= form_tag(click_url(:id => user.id) ,:method => :post, :onSubmit => "hidden=document.getElementById('selected_user"+user.id.to_s+"');
																			drop=document.getElementById('user_id');
																			document.getElementById('selected_user"+user.id.to_s+"').value=drop[drop.selectedIndex].value;") do %>
 		<%= hidden_field_tag 'selected_user'+user.id.to_s %>
		<%= submit_tag 'click' %>
		<% end %></td>
	<% end %>
	<td class="centered"><%= user.credits %></td>
    <td class="centered"><%= user.clicks_given %></td>
    <td class="centered"><%= user.clicks_received %></td>
    <td class="centered-crud"><%= link_to image_tag('show.svg', :width => 20, :height => 20), user %></td>
    <% if admin_signed_in? %>
      <td class="centered-crud"><%= link_to image_tag('edit.svg', :width => 20, :height => 20), edit_user_path(user) %></td>
 	  <td class="centered-crud"><%= link_to image_tag('remove.svg', :width => 20, :height => 20), user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>

<br />

<% unless @legends.empty? %>
<div class="top">Legends</div>
<table class="user_list">
  <tr class="top">
    <th>Name</th>
    <th>Clicks Given</th>
    <th></th>
		<% if admin_signed_in? %>
		<th></th>
		<th></th>
		<% end %>
  </tr>

<% @legends.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td class="name"><%= user.name %></td>
    <td class="centered"><%= user.clicks_given %></td>
    <td class="centered-crud"><%= link_to image_tag('show.svg', :width => 20, :height => 20), user %></td>
    <% if admin_signed_in? %>
      <td class="centered-crud"><%= link_to image_tag('edit.svg', :width => 20, :height => 20), edit_user_path(user) %></td>
 	  <td class="centered-crud"><%= link_to image_tag('remove.svg', :width => 20, :height => 20), user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>
<% end %>

<br />

<% unless @frozen.empty? %>
<div class="top">Inactive Clickers</div>
<table class="user_list">
  <tr class="top">
    <th>Name</th>
	<th>Credits</th>
    <th>Clicks Given</th>
    <th>Clicks Received</th>
    <th></th>
    <% if admin_signed_in? %>
    <th></th>
    <th></th>
 	<% end %>
  </tr>

<% @frozen.each do |user| %>
  <tr class="<%= cycle('oddrow', 'evenrow') %>">
    <td class="name"><%= user.name %></td>
	<td class="centered"><%= user.credits %></td>
    <td class="centered"><%= user.clicks_given %></td>
    <td class="centered"><%= user.clicks_received %></td>
    <td class="centered-crud"><%= link_to image_tag('show.svg', :width => 20, :height => 20), user %></td>
    <% if admin_signed_in? %>
      <td class="centered-crud"><%= link_to image_tag('edit.svg', :width => 20, :height => 20), edit_user_path(user) %></td>
 	  <td class="centered-crud"><%= link_to image_tag('remove.svg', :width => 20, :height => 20), user, :confirm => 'Are you sure you want to delete ' + user.name + '?', :method => :delete %></td>
 	<% end %>
  </tr>
<% end %>
</table>
<% end %>

<br />

<div class="bottom_nav">
<%= link_to image_tag('new.svg', :width => 20, :height => 20) + ' New Clicker', new_user_path %>
<% if admin_signed_in? %>
| <%= link_to image_tag('new-mult.svg', :width => 20, :height => 20) + ' Add Multiple Clickers', new_batch_users_path %>
| <%= link_to image_tag('clean.svg', :width => 20, :height => 20) + ' Delete Inactive', destroy_frozen_users_path, :confirm => 'Are you sure you want to delete all frozen users?', :method => :delete %> |
<%= link_to image_tag('refresh.svg', :width => 20, :height => 20) +  ' Reset Clicks', reset_counters_users_path, :confirm => 'Are you sure you want to refresh all click data?', :method => :put %>
<% end %>
</div>