<% content_for :header do %>
	<h1><%= @title = "Clicker" %></h1>
<% end %>

<p><div class="top_forms">
	<%= render :partial => 'start_form', :locals => { :users => @users } %>
	<% if admin_signed_in? %>
	<%= render :partial => 'search' %>
	<% end %>
	<div class="clear"></div>
</div></p>

<p><%= render :partial => 'table', :locals => { :users => @clickables, :title => 'Clickers',:sortable => false, :click_button => true, :creditable => true, :legend => false } %></p>

<p><%= render :partial => 'table', :locals => { :users => @legends, :title => 'Legends', :sortable => false, :click_button => false, :creditable => false, :legend => true } %></p>

<p><%= render :partial => 'table', :locals => { :users => @frozen, :title => 'Inactive Clickers', :sortable => false, :click_button => false, :creditable => true, :legend => false } %></p>

<div class="bottom_nav">
<%= link_to image_tag('new.svg', :class => 'action') + ' New Clicker', new_user_path %>
<% if admin_signed_in? %>
| <%= link_to image_tag('new-mult.svg', :class => 'action') + ' Add Multiple Clickers', new_batch_users_path %>
| <%= link_to image_tag('clean.svg', :class => 'action') + ' Delete Inactive', destroy_frozen_users_path, :confirm => 'Are you sure you want to delete all inactive users?', :method => :delete %> |
<%= link_to image_tag('refresh.svg', :class => 'action') +  ' Reset Clicks', reset_counters_users_path, :confirm => 'Are you sure you want to refresh all click data?', :method => :put %>
<% end %>
</div>