<% content_for :header do %>
	<h1><%= @title = 'Adding New Clickers' %></h1>
<% end %>

<div class="clicker_form">
<%= form_tag :controller => "users" , :action => "create", :method => :post do %>
	<%= text_area(:user, :urls, :class => 'batch_users') %> <br />
	<%= submit_tag "Add Clickers" %>
<% end %>
</div>

<br />

<div class="bottom_nav">
	<%= link_to image_tag('back.png', :class => 'action') + ' To Clicker List', users_path %>
</div>