<h1><%= @title = "Viewing " + @user.name %></h1>

<%= render :partial => "shared/flash", :locals => { :flash => flash } %>

<br />

<div id="user_details">
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>URL:</b>
  <a href=<%= @user.url %>> <%= @user.url %> </a>
</p>

<p>
  <b>Clicks Given:</b>
  <%= @user.clicks_given %>
</p>

<p>
  <b>Clicks Received:</b>
  <%= @user.clicks_received %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>
</div>

<br />

<div id="footer_links">
<% if admin_signed_in? %>
<%= link_to 'Edit Clicker', edit_user_path(@user) %> |
<% end %>
<%= link_to 'To Clicker List', users_path %>
</div>