<% content_for :header do %>
	<h1><%= @title = "Viewing " + @user.name %></h1>
<% end %>

<div id="user_details">
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<% unless @user.legend %>
<p>
  <b>Recruit Link:</b>
  <a href=<%= @user.url %>> <%= @user.url %> </a>
</p>
<% end %>

<p>
  <b>Clicks Given:</b>
  <%= @user.clicks_given %>
</p>

<% unless @user.legend %>
<p>
  <b>Clicks Received:</b>
  <%= @user.clicks_received %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>
<% end %>
</div>

<br />

<div class="bottom_nav">
<% if admin_signed_in? %>
<%= link_to image_tag('edit.svg', :class => 'action') + ' Edit Clicker', edit_user_path(@user) %> |
<%= link_to image_tag('remove.svg', :class => 'action') + ' Delete Clicker', @user, :confirm => 'Are you sure you want to delete ' + @user.name + '?', :method => :delete %> |
<% end %>
<%= link_to image_tag('back.svg', :class => 'action') + ' To Clicker List', users_path %>
</div>