<h1>Viewing <%= @user.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>URL:</b>
  <a href=<%= @user.url %>> <%= @user.url %> </a>
</p>

<p>
  <b>Clicks Given:</b>
  <%= @user.clicks_given %>
</p>

<p>
  <b>Clicks Received:</b>
  <%= @user.clicks_received %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>
<% if false %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
