<h1>Viewing <%= @user.name %></h1>

<%= render :partial => "flash", :locals => { :flash => flash } %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>URL:</b>
  <a href=<%= @user.url %>> <%= @user.url %> </a>
</p>

<p>
  <b>Clicks Given:</b>
  <%= @user.clicks_given %>
</p>

<p>
  <b>Clicks Received:</b>
  <%= @user.clicks_received %>
</p>

<p>
  <b>Credits:</b>
  <%= @user.credits %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
