<h1><%= @title = 'Reset Password' %></h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<div class="devise_forms">
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, :required => true, :label => "Confirm Password" %>
  <%= f.button :submit, :value => "Reset Password" %>
<% end %>
</div>

<br />

<%= render :partial => "devise/shared/links" %>

<br />

<%= render :partial => 'shared/footer' %>
