<% content_for :header do %>
	<h1><%= @title = 'Reset Password' %></h1>
<% end %>

<div class="devise_forms">
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :email %>
  <%= f.button :submit, :value => 'Reset Password' %>
<% end %>
</div>

<br />

<%= render :partial => "devise/shared/links" %>