<div id="nav_bar_div">
	<ul id="nav_bar">
	<% unless @selected_user.nil? %>
	<li> Clicking as <%= @selected_user.name %> |</li>
	<% end %>
	<% if admin_signed_in? %>
	<li><%= link_to image_tag('smile.png', :class => 'action') + ' Hi ' + current_adm + '!', edit_admin_path(current_admin), :title => 'View your profile.' %> |</li>
	<li><%= link_to image_tag('sign-out.png', :class => 'action') + ' Sign Out', destroy_admin_session_path, :title => 'Sign Out of the admin panel.' %> |</li>
	<li><%= link_to image_tag('settings.png', :class => 'action') + ' Settings', admin_configurable_path, :title => 'Clicker settings.' %> |</li>
	<li><%= link_to image_tag('users.png', :class => 'action') + ' Admins', admins_path, :title => 'List of admins' %> |</li>
	<% else %>
	<li><%= link_to image_tag('sign-in.png', :class => 'action') + ' Sign In', new_admin_session_path, :title => 'Sign In to the admin panel' %> |</li>
	<% end %>
	<li><%= link_to image_tag('users.png', :class => 'action') + ' Clickers', users_path, :title => 'List of clickers' %></li>
	</ul>
</div>