<div id="nav_bar_div">
	<ul id="nav_bar">
	<% unless @selected_user.nil? %>
	<li> Clicking as <%= @selected_user.name %> |</li>
	<% end %>
	<% if admin_signed_in? %>
	<li><%= link_to image_tag('smile.svg', :class => 'action') + ' Hi ' + current_adm + '!', edit_admin_path(current_admin) %> |</li>
	<li><%= link_to image_tag('session.svg', :class => 'action') + ' Sign Out', destroy_admin_session_path %> |</li>
	<li><%= link_to image_tag('settings.svg', :class => 'action') + ' Settings', admin_configurable_path %> |</li>
	<li><%= link_to image_tag('users.svg', :class => 'action') + ' Admins', admins_path %> |</li>
	<% else %>
	<li><%= link_to image_tag('session.svg', :class => 'action') + ' Sign In', new_admin_session_path %> |</li>
	<% end %>
	<li><%= link_to image_tag('users.svg', :class => 'action') + ' Clickers', users_path %></li>
	</ul>
</div>