<h1><%= @title = 'Sign In' %></h1>

<br />

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<div class="devise_forms">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= f.input :login, :required => true, :label => 'Login', :hint => 'Username or Email'%>
  	<%= f.input :password, :size => 50 %>

  <% if devise_mapping.rememberable? -%>
	<%= f.input :remember_me, :as => :boolean %>
  <% end -%>

  <%= f.button :submit, :value => 'Sign In'%>
<% end %>
</div>

<br />

<%= render :partial => "devise/shared/links" %>